a {
  text-decoration: none;
}

.questionnaire-container {
  width: 100vw;
  background: rgb(238, 247, 255);
  padding: 80px 0;
  background-image:url("town10.png");
  background-position: bottom;
  background-repeat: repeat-x;
}

.questionnaire-contents {
  width: 30vw;
  min-width: 400px;
  margin: 0 auto;
  background: white;
  border-radius:10px;
  box-shadow: 0 0 8px gray;
}

.questionnaire-title {
  width: 100%;
  height: 48px;
  line-height: 48px;
  letter-spacing: 0.1em;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 40px;
  text-align: center;
  color:white;
  background: #38a2ff;
  border-left: solid 10px #1760a0;
  border-radius: 10px 10px 0 0 ;
}

.questionnaire-lists {
  margin-bottom: 20px;
}

.questionnaire-list {
  min-width: 170px;
  margin:0 0 6px 40px;
}

.select-box {
  height: 30px;
  width: 80%;
  background-color: white;
  padding-left: 20px;
  margin:0 0 24px 40px;
}

.questionnaire-btn-contents {
  text-align: center;
}

.questionnaire-btn {
  padding: 8px 20px;
  margin-bottom: 40px;
  background:#38a2ff;
  color: white;
  box-shadow:0 4px 0 0 #1760a0;
  border: #38a2ff;
  transform: translateY(-4px);
  transition:0.3s all;;
  border-radius: 5px;
  font-size: 20px;
  font-weight:bold;
  letter-spacing: 0.1em;
  font-family: 'Bebas Neue', cursive;
}

.questionnaire-btn:hover {
  box-shadow:0 2px 0 0  #1760a0;
  transform: translateY(-2px);
}