a {
  text-decoration: none;
}

.recommendation-main {
  width: 100vw;
  min-width: 599px;
  padding: 2vh 15vw;
  background: rgb(238, 247, 255);
}

.recommendation-contents{
  text-align: center;
}

.recommendation-title {
  margin: 80px auto 20px;
  font-size: 40px;
  color:#1760a0;
  font-weight: bold;
  width: 100%;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.05em;
  position: relative;
  display: inline-block;
}

.recommendation-title:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  display: inline-block;
  width: 60px;
  height: 5px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #608eb6;
  border-radius: 2px;
}


.recommendation {
  margin: 40px auto 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.recommendation-lists {
  width: 100%;
  padding: 0 16px;
}

.image {
  width: 100%;
  height: 300px;
}

.prefecture-image {
  box-shadow: 0 0 8px gray;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.recommendation-details {
  padding: 20px 24px;
}

.prefecture-name {
  font-size: 28px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  color:#1760a0;
  font-weight: bold;
  margin-bottom: 32px;
  margin-top: 16px;
  width: 120px;
}

.prefecture-name:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  display: inline-block;
  width: 40px;
  height: 3px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color:#608eb6;
  border-radius: 2px;
}

.prefecture-info {
  line-height: 1.8rem;
  color:#635f58;
  margin-bottom: 16px;
}

.prefecture-link {
  color:#55524d;
  font-size: 14px;
}

.prefecture-link-detail {
  text-decoration: none;
  color:#608eb6;;
}

.chatgpt {
  font-size: 12px;
  margin:0 40px 40px;
  color: #55524d;
  font-style:italic;
  margin-top: 10px;
}

.back-btn-contents {
  text-align: center;
  margin-bottom: 80px;
}

.back-btn {
  padding: 8px 32px;
  display: inline-block;
  background:#38a2ff;
  color: white;
  box-shadow:0 4px 0 0 #1760a0;
  transform: translateY(-4px);
  transition:0.3s all;
  border-radius: 5px;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0.15em;
  font-family: 'Bebas Neue', cursive;
}

.back-btn:hover {
  box-shadow:0 2px 0 0 #1760a0;
  transform: translateY(-2px);
}

/* タブレット表示 */
@media (max-width: 1499px) {
  .recommendation {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 40px auto 40px;
  }
  
  .recommendation-lists {
    width: 50%;
    margin-bottom: 30px;
  }
}

/* タブレット・スマホ表示 */
@media (max-width: 1000px) {
  .recommendation {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 40px auto 40px;
  }
  
  .recommendation-lists {
    width: 100%;
    margin-bottom: 30px;
  }

  .recommendation-details {
    padding: 16px 24px 36px;
  }
}
