* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  background: lightgray;
  color: black;
}

.header-contents {
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  min-width: 200px;
  align-items: center;
}

.header-title {
  margin-left: 2vw;
  font-size: 18px;
  font-weight: bold;
}

.randomtrip-letter {
  color: inherit;
}

.lists-right {
  display: flex;
  list-style: none;
  font-size: 16px;
}


.mypage {
  text-decoration: none;
  margin-right: 3vw;
  color: black;
}


.logout {
  text-decoration: none;
  color:black;;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: black;
}

.sign-up {
  text-decoration: none;
  color: black;
  line-height: 32px;
  margin-right: 3vw;
}

.where-to-go {
  text-decoration: none;
  color: black;
  line-height: 32px;
  margin-right: 3vw;
}