* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  min-width: 599px;
  padding: 2vh 15vw;
  background: #ffffff;;
  color: #1760a0;
}

.header-contents {
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  min-width: 200px;
  align-items: center;
  letter-spacing: 0.1em;
}

.header-title {
  margin:0 1vw;
  font-family: 'Bebas Neue', cursive;
}

.randomtrip-letter {
  color: inherit;
  font-size: 32px;
  font-weight: bold;
}

.lists-right {
  display: flex;
  list-style: none;
  font-size: 16px;
}

/* マイページリンク作成 */
.accordion-tab {
  position: relative;
}

.hidden {
  display: none;
}

.accordion_contents {
  position: absolute;
  top: 123px;
  text-align: center;
  background-color: #ffffff;
  z-index: 1;
}

.content {
  display: block;
  text-decoration: none;
  padding:2vh 2vw;
  color: #1760a0;
  line-height: 32px;
	transition: all .3s ease 0s;
  cursor: pointer;
}

.content:hover {
  background: rgb(238, 238, 238);
  transform: scale(1.1);
}

.link {
  display: inline-block;
  text-decoration: none;
  margin:0 2vw;
  color: #1760a0;
  line-height: 32px;
	transition: all .3s ease 0s;
  cursor: pointer;
}

.link:hover {
  transform: scale(1.1);
  border-bottom: 1px solid #1760a0;
}


/* タブレット表示 */
@media (max-width: 900px) {
  .header-contents {
    display: block;
  }
  
  .header-left {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  .header-right {
    display: flex;
    justify-content: center;
  }

}

/* スマホ表示 */
@media (max-width: 599px) {

}