<div class='footer'>
  <div class='footer-contents'>
    <div class='randomtrip-details'>
      <h2 class='footer-content-head'>Random Tripについて</h2>
      <ul>
        <li><%= link_to 'アプリ概要', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='randomtrip-details'>
      <h2 class='footer-content-head'>Random Tripを利用する</h2>
      <ul>
        <li><%= link_to '目的地を決める', "#", class: "footer-link" %></li>
        <li><%= link_to 'マイページ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <div class='randomtrip-logo'>
    <%= link_to image_tag("randomtrip_icon2.png", width:"64", height:"64", class:"logo-black"), "#" %>
    <span>Random Trip</span>
  </div>
  <p>© Random Trip</p>
</div>