<%= render "shared/header" %>

<div class='main'>
  <ul class='background-image'>
    <li class="img1"></li>
    <li class="img2"></li>
    <li class="img3"></li>
    <li class="img4"></li>
    <li class="img5"></li>
    <div class="main-container">
      <div class="container-box">
        <div class="container-title">Random Trip</div>
        <div class="container-destination">旅行先をランダムに決める</div>
        <div class="destination-btn">
          <%= link_to "Click", new_destination_path, class:"click-btn", id:"click-btn-area"%>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<%= render "shared/footer" %>
